<div id="burgerInfo">
    <div id="pic">
        <img src="assets/images/burger.jpeg"></div>
    <div id="whole">
        <h1>Burgers that are not devoured</h1>
        {{#each burger}}
        {{#unless devoured}}
        <h1>{{burger_name}}</h1>
        <a href="/api/{{id}}">Eat this burger!</a>
        {{/unless}}
        {{/each}}
    </div>


    <form id="form">
        <h1>Eat Da Burger!</h1>
        Burger Name:<br>
        <input id="burgerName" type="text" placeholder="Ultimate Mac"><br>
        <button type="submit">Submit </button>
    </form>

    <div id="devoured">
        <h1>Burgers that are devoured</h1>
        {{#each burger}}
        {{#if devoured}}
        <h1>{{burger_name}}</h1>

        {{/if}}
        {{/each}}
    </div>
</div>